.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-search {
  min-height: 40px;
  padding: 10px;
}

.user-search {
  flex: 1;
  min-height: 40px;
  padding: 10px;
  border: 1px solid #dedede;
  font-size: 1rem;
}