:root {
  --color-default-text: #333;
  --active-border-color: #2188ff;
  --active-box-shadow: inset 0 1px 2px rgba(27,31,35,.075), 0 0 0 0.2em rgba(3,102,214,.3);
  --button-bg-color: #eff3f6;
  --button-active-bg-color: #e9ecef;
  --button-bg-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
  --button-active-box-shadow: inset 0 1px 2px rgba(27,31,35,.075), 0 0 0 0.2em rgba(3,102,214,.3), inset 0 0.15em 0.3em rgba(27,31,35,.15);
  --light-border: #dedede;
  --text-grey: #586069;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  color: var(--color-default-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

input,
button {
  -webkit-appearance: none;
  border-radius: 5px;
}

input:focus,
button:focus,
select:focus,
textarea:focus,
a:focus {
  border-color: var(--active-border-color);
  box-shadow: var(--active-box-shadow);
  outline: none;
}

.App {
  margin: 0 auto;
  padding: 1rem;
  max-width: 900px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 10px;
  height: 100vh;
  overflow: hidden;
}

h4, h5 {
  margin-bottom: 5px;
}

.flex {
  display: flex;
  align-items: center;
}

.btn {
  min-height: 40px;
  margin: 10px;
  padding: 10px;
  font-size: 0.875rem;
  font-weight: 600;
  background-color: var(--button-bg-color);
  background-image: var(--button-bg-image);
  border: 1px solid var(--light-border);
  cursor: pointer;
}

.btn:active {
  background-image: none;
  background-color: var(--button-active-bg-color);
  box-shadow: var(--button-active-box-shadow);
}

.list-wrapper {
  overflow: hidden auto;
  -webkit-overflow-scrolling: touch;
}

.octicon {
  margin-right: 3px;
}

.error-msg {
  color: #cc0000;
}